@use 'variables' as *;


.search_settings {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2rem;
    background: $primary-gradient;
    position: relative;
    padding-top: 4rem;
    min-height: 320px;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .input_container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
    
            input, select {
                min-width: 100%;
                padding: .5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }

        .save-btn {
            background-color: $btn-bg-color;
            color: $btn-font-color;
            border: none;
            padding: 1rem .5rem;
            border-radius: 4px;
            width: 50%;
            margin: 0 auto;
            margin-top: 1rem;
            cursor: pointer;
            transition: background-color .25s;
    
            &:hover {
                background-color: $btn-bg-color-hover;
            }
        }
    }
    

    .close_btn {
        position: absolute;
        top: .5rem;
        right: .5rem;
        
        button {
            background-color: $btn-bg-color-close;
            padding: .5rem;
            border-radius: 5px;
            color: $font-color;
            border: none;
            cursor: pointer;
            transition: color .25s;
    
            &:hover {
            background-color: $btn-bg-color-close-hover;
            color: $font-color-hover;
            }
        }
    }

   
}