$primary-gradient: linear-gradient(180deg, rgba(18,74,80,1), rgba(6,9,10,1));
$font-color: #fff;
$font-color-selected: #63de51;
$font-color-hover: #abff9f;
$btn-bg-color: #19600e;
$btn-bg-color-hover: #1f990f;
$btn-bg-color-close: #ff0000;
$btn-bg-color-close-hover: #971d1d;
$btn-font-color: #fff;

